#{extends 'layouts/common.html'/}
#{set title:'Login' /}

<div class="row">
    <div class="col-sm-12 text-center">
        <div class="panel panel-default signin-panel">
            <div class="panel-body text-center">
            #{if flash.error}
                <p class="alert alert-danger">${flash.error}</p>
            #{/if}
            #{if flash.success}
                <p class="alert alert-success">${flash.success}</p>
            #{/if}

                <h1>Login</h1>
                <br>
            #{form @UserAccount.login(), method:'POST', id:'signin-form'}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </div>
                <div class="form-group clearfix">
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <a href="#" class="btn btn-link pull-right">Forgot password? </a>
                </div>
            #{/form}
            </div>
        </div>
        <div class="signin-panel">
            <a href="#" class="btn btn-link btn-block">Create New Account</a>
        </div>

    </div>
</div>