#{extends 'layouts/common.html'/}

<div class="row">
    <div class="col-sm-3">
    #{include 'layouts/main/searchSidebar.html'/}
    </div>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12 col-md-8">
            #{doLayout /}
            </div>

            <div class="col-sm-12 col-md-4">
            #{include 'layouts/main/rightSideBar.html'/}
            </div>
        </div>
    </div>
#{include 'layouts/main/searchFullForm.html'/}
</div>
