<div class="row">
    <div class="col-xs-12"><h4>You may interested in:</h4></div>
    <div class="col-xs-6 col-md-12">
        <div class="thumbnail">
            <img class="img-responsive" data-src="holder.js/300x200" alt="300x200">

            <div class="caption">
                <h3>Thumbnail label</h3>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <p>
                    <a href="#" class="btn btn-primary btn-block" role="button">Buy</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-12">
        <div class="thumbnail">
            <img class="img-responsive" data-src="holder.js/300x200" alt="300x200">

            <div class="caption">
                <h3>Thumbnail label</h3>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <p>
                    <a href="#" class="btn btn-primary btn-block" role="button">More details</a>
                </p>
            </div>
        </div>
    </div>
</div>