#{form @Search.search(), method:'GET', id:'searchMiniForm', class:'navbar-form', role:'search' }
    <div class="form-group">
        <div id="search" class="input-group input-group-sm">
            <div class="input-group-btn" style="border-right: solid 2px #ddd;">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span >${userTypeForSearch?:'All'}</span>
                    <span class="caret"></span></button>
                <ul class="dropdown-menu user-type-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Tutors</a></li>
                </ul>
                <input  name="searchParams.userTypeForSearch" type="hidden" value="${userTypeForSearch?:'All'}"/>
                <input  name="searchParams.pageForSearch" type="hidden" value="1"/>
                <input  name="searchParams.sortByFieldForSearch" type="hidden" value="Rating"/>
            </div>

            <input name="searchParams.textForSearch" type="text" value="${textForSearch}"  class="search-query form-control col-sm-3" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> </button>
            </span>
        </div>
    </div>
#{/form}