<div id="categories-sidebar">
    <h4>Target Accounts</h4>
    <ul class="nav nav-pills nav-stacked">
    #{if userTypeForSearch == 'All' }
        <li class="active">
            <a>
                <span>All</span>
            </a>
        </li>
    #{/if}
    #{else}
        <li>
            <a class="setUserTypeOnclickAndSubmit" href="#">
                <span class="user-type">All</span>
            </a>
        </li>
    #{/else}
    #{list items:userTypes, as:'userType' }
        #{if userTypeForSearch==userType.name }
            <li class="active">
                <a>
                        #{if userType.count > 0}<span class="badge pull-right">${userType.count}</span>#{/if}
                    <span class="user-type">${userType.name}</span>
                </a>
            </li>
        #{/if}
        #{else}
            <li>
                <a class="setUserTypeOnclickAndSubmit" href="#">
                        #{if userType.count > 0}<span class="badge pull-right">${userType.count}</span>#{/if}
                    <span class="user-type">${userType.name}</span>
                </a>
            </li>
        #{/else}
    #{/list}
    </ul>
    <h4>Subjects</h4>
    <ul class="nav nav-pills nav-stacked">
    #{if subjectIdForSearch==0 }
        <li class="active">
            <a>
                <span>All</span>
            </a>
        </li>
    #{/if}
    #{else}
        <li>
            <a class="setSubjectOnclickAndSubmit" href="#">
                <span>All</span>
                <input type="hidden" value="0"/>
            </a>
        </li>
    #{/else}
    #{list items:categories, as:'category' }
        <li class="category">
            <a>${category.name}</a>
            <ul class="nav nav-pills nav-stacked">
                #{list items:category.subjects, as:'subject' }
                    #{if subjectIdForSearch==subject.id }
                        <li class="active">
                            <a>
                                    #{if subject.count > 0}<span class="badge pull-right">${subject.count}</span>#{/if}
                                <span>${subject.name}</span>
                            </a>
                        </li>
                    #{/if}
                    #{else}
                        <li>
                            <a class="setSubjectOnclickAndSubmit" href="#">
                                    #{if subject.count > 0}<span class="badge pull-right">${subject.count}</span>#{/if}
                                <span>${subject.name}</span>
                                <input type="hidden" value="${subject.id}"/>
                            </a>
                        </li>
                    #{/else}
                #{/list}
            </ul>
        </li>
    #{/list}
    </ul>
    <div class="form-group">
        <h4>Location</h4>
        <select id="city" class="form-control">
            <option value="0" ${costIdForSearch == 0?'selected':''}>All</option>
        #{list items:cities, as:'city' }
            <option ${cityIdForSearch==city.id?'selected':''} value="${city.id}">${city.name}</option>
        #{/list}
        </select>

        <h4>Price range</h4>
        <select id="cost" class="form-control">
            <option value="0" ${costIdForSearch == 0?'selected':''}>All</option>
        #{list items:costs, as:'cost' }
            <option ${costIdForSearch==cost.id?'selected':''} value="${cost.id}">${cost.name}</option>
        #{/list}
        </select>
    </div>
</div>