#{form @Search.search(), method:'GET', id:'searchFullForm', enctype:'multipart/form-data'}
    <input  name="searchParams.userTypeForSearch" type="hidden" value="${userTypeForSearch}"/>
    <input  name="searchParams.textForSearch" type="hidden" value="${textForSearch}"/>
    <input  name="searchParams.subjectIdForSearch" type="hidden" value="${subjectIdForSearch}"/>
    <input  name="searchParams.cityIdForSearch" type="hidden" value="${cityIdForSearch}"/>
    <input  name="searchParams.costIdForSearch" type="hidden" value="${costIdForSearch}"/>
    <input  name="searchParams.pageForSearch" type="hidden" value="${pageForSearch}"/>
    <input  name="searchParams.sortByFieldForSearch" type="hidden" value="${sortByFieldForSearch}"/>
#{/form}