#{extends 'layouts/main/main.html' /}
#{set title:'Home' /}

<div class="row">
    <div class="col-xs-12">
    #{if pages?.size() > 1}
        #{include 'Search/paging.html'/}
    #{/if}
    </div>
    <!--
    <div class="col-sm-6 pagination">
        <label for="sortByField">Sort by:</label>
        <select id="sortByField">
        #{if sortByFieldForSearch == null}
            <option value="" disabled selected>Select sort by...</option>
        #{/if}
        #{list items:sortByFields, as:'sortByField' }
            <option ${sortByFieldForSearch==sortByField?'selected':''} value="${sortByField}">${sortByField}</option>
        #{/list}
        </select>
    </div>
    -->
</div>

#{if pageResults?.isEmpty()}
<h1>No results found!</h1>
#{/if}

<table class="table table-hover table-bordered search-result">
#{list items:pageResults, as:'user' }
    <tr>
        <td>
            <a href="@{Users.show(user.id)}">
                <img class="img-responsive" src="${user.imageURL?:'/public/images/user.png'}" alt="User profile bild">
            </a>
        </td>
        <td>
            <a href="@{Users.show(user.id)}"><h4>${user.fullName}</h4></a>

            <p>${user.description}</p>

            #{if user.isStudent() && user.studentInformation.courseSearches.size() > 0 }
                <p><strong>Look for tutor in:</strong>
                    #{list items:user.studentInformation?.courseSearches, as:'course'}
                    ${course.subject.name}
                    ${course_isLast ? '' : ', '}
                    #{/list}
                </p>
            #{/if}
            #{if user.isTutor() && user.tutorInformation.courseOffers.size() > 0 }
                <p><strong>Offering lectures in:</strong>
                    #{list items:user.tutorInformation?.courseOffers, as:'course'}
                    ${course.subject.name}
                    ${course_isLast ? '' : ', '}
                    #{/list}
                </p>
            #{/if}
            </div>
            <a href="@{Users.show(user.id)}" class="pull-right">Details...</a>
        </td>
    </tr>
#{/list}
</table>

<div class="row">
    <div class="col-xs-12">
    #{if pages?.size() > 1}
    #{include 'Search/paging.html'/}
#{/if}
    </div>
</div>