<ul class="pagination">
    <li ${prevDisabled?'class=disabled':''}>
        <a class="minMaxPaging" href="#">
            <input type="hidden" value="${java.util.Collections.min(pages) - 1}"/>
            <span>&laquo;</span>
        </a>
    </li>
    #{list items:pages, as:'page' }
        <li ${pageForSearch==page?'class=active':''}><a class="setPageOnclickAndSubmit" href="#">${page}</a></li>
    #{/list}
    <li ${nextDisabled?'class=disabled':''}>
        <a class="minMaxPaging" href="#">
            <input type="hidden" value="${java.util.Collections.max(pages) + 1}"/>
            <span>&raquo;</span>
        </a>
    </li>
</ul>