#topnav-login{
    border: none;
    box-shadow: none;
    width: 960px;
    margin:auto;
    background-color: #33628a;
    border-color: #254865;
}

#footer-login {
    margin-bottom: 0;
    padding-top: 5px;
    width:960px;
    margin:auto;
}

#footer-login .nav > li {
    display: inline-block;
}

.list-group-login {
    margin-bottom: 20px;
    padding-left: 0;
    margin: auto;
    width: 960px;


}
.list-group-item-login {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;

}

.thumbnail-login {
    xdisplay: block;
    padding: 4px;
    margin-bottom: 18px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 450px;
    height: 320px;
}
.thumbnail-login .caption {
    padding: 9px;
    color: #333333;
}
.clear{
    clear:both;
    float:left;
}

#submit{
    margin-top:10px;
}
.input-group {
    width:250px;
}

.btn{
    width: 250px;
}
.info{
    margin-top: 20px;
    text-align: center;
}
h3{
    text-align: center;
}

.error-msg{
    margin-top:5px;
    padding: 5px ;
    border-style: solid;
    border-width: 1px;
    background-color: #f5dfdf;
    border-color: #ce9e9e;
    display: inline-block;

}
.error-msg-login{
    margin-top:5px;
    padding: 5px ;
    border-style: solid;
    border-width: 1px;
    background-color: #f5dfdf;
    border-color: #ce9e9e;
    display: inline-block;
    margin: auto;
    width:250px;

}
.keepsigned{
    margin-top: 5px;
}
.forgotpassword{
    margin-top: 5px;
}
.thumbnail-login-signup {
    xdisplay: block;
    padding: 4px;
    margin-bottom: 18px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 450px;
    height: 320px;
}
.list-group-item-signup{
    margin:auto;
    width:960px;
}
.required-sign{
    color: red;
}
#privacy{
    text-align: left;
}