@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600");

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
    max-width: 1200px;
}

.btn {
    border-width: 1px 1px 3px 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.07);
}

.btn:hover {
    border-color: transparent;
}

.btn.btn-link {
    border-color: transparent;
}

.input-group .btn {
    border-bottom: none;
}

h1, h2 {
    font-weight: normal;
}

.has-error .form-control:focus, .form-control:focus {
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}

.table.no-lines th, .table.no-lines td {
    border-top: none;
}

/*********/
/* Panel */
/*********/
.panel {
    box-shadow: 0 2px 10px -5px #bbb;
}

.panel-heading > a.pull-right {
    margin-left: 15px;
}

/**********************/
/* Top navigation bar */
/**********************/
#topnav .navbar-form {
    border: none;
    box-shadow: none;
}

#search {
    margin-top: 2px;
}

#search input, #search .btn {
    border: none;
    box-shadow: none;
}

/****************/
/* Left sidebar */
/****************/
#left-sidebar > div {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/**********************/
/* Categories sidebar */
/**********************/
.categories-sidebar .nav > li,
#categories-sidebar .nav > li {
    margin-top: 0;
}

.categories-sidebar .nav > li > a,
#categories-sidebar .nav > li > a {
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.categories-sidebar .nav > li.active > a,
#categories-sidebar .nav > li.active > a {
    background: #f0f0f0;
    color: #33628a;
    font-weight: bold;
    border-left: solid 5px #428bca;
    padding-left: 10px;
}

.categories-sidebar li.category > a,
#categories-sidebar li.category > a {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    padding-left: 0;
    padding-top: 10px;
    font-size: 85%;
}

.categories-sidebar li.category > a:hover,
#categories-sidebar li.category > a:hover {
    background: none;
}

/**********/
/* Footer */
/**********/
#footer {
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 20px;
}

#footer .nav > li {
    display: inline-block;
}

/****************/
/* Sign-in form */
/****************/
.signin-panel {
    max-width: 330px;
    margin: 0 auto;
    padding: 20px;
}

.panel.signin-panel {
    background: #f8f8f8;
    margin-top: 30px;
}

#signin-form .form-control {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    border-radius: 4px;
}

#signin-form .form-control:focus {
    z-index: 2;
}

#signin-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#signin-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#signin-form .checkbox {
    font-weight: normal;
}

#signin-form a.btn-link {
    padding-right: 0;
}

/***********************/
/* Search result table */
/***********************/
table.search-result tr td {
    border-left: none;
    border-right: none;
}

table.search-result tr td:first-child {
    width: 90px;
}