*{
This tag displays the categories list in the categories sidebar. Usage:

#{categoriesSidebarList categories:categories, active:currentSubject /}

The `active` parameter is optional and can be either a Subject or a Category.
}*

#{if _categories != null}
<ul class="nav nav-pills nav-stacked">
    #{list items:_categories, as:'category' }
        <li class="category">
            <a href="#">${category.name}</a>

        *{Recursively display all sub-categories}*
            #{if category.hasProperty("children")}
                #{list items:category.children, as:'subCat'}
                    #{categoriesSidebarList categories:subCat, active:_active /}
                #{/list}
            #{/if}

        *{Display list of subjects}*
            #{if category.hasProperty("subjects")}
                <ul class="nav nav-pills nav-stacked">
                    #{list items:category.subjects, as:'subject' }
                        <li #{if subject.name == _active?.name}class="active"#{/if}>
                            <a href="@{Search.searchBySubject(subject.id)}">${subject.name}</a>
                        </li>
                    #{/list}
                </ul>
            #{/if}

        </li>
    #{/list}
#{/if}