*{
This tag displays the categories sidebar. Usage:

#{categoriesSidebar categories:categories, active:currentSubject /}

The `active` parameter is optional and can be either a Subject or a Category.
}*

<div class="categories-sidebar">
    <h4>Subjects</h4>

#{categoriesSidebarList categories:_categories, active:_active /}

</div>
