<table class="table table-condensed text-center">
    <thead>
    <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10h-12h</td>
    #{list items:0..6, as:'index'}
        <td><input type="checkbox" ${_preferredTime[index]?'checked':''} onclick="return false"/></td>
    #{/list}
    </tr>
    <tr>
        <td>13h-15h</td>
    #{list items:7..13, as:'index'}
        <td><input type="checkbox" ${_preferredTime[index]?'checked':''} onclick="return false"/></td>
    #{/list}
    </tr>
    <tr>
        <td>16h-18h</td>
    #{list items:14..20, as:'index'}
        <td><input type="checkbox" ${_preferredTime[index]?'checked':''} onclick="return false"/></td>
    #{/list}
    </tr>
    <tr>
        <td>19h-21h</td>
    #{list items:21..27, as:'index'}
        <td><input type="checkbox" ${_preferredTime[index]?'checked':''} onclick="return false"/></td>
    #{/list}
    </tr>
    </tbody>
</table>