<table class="table table-bordered">
    <tr>
        <td><h6>Time</h6></td>
        <td><h6>Mon</h6></td>
        <td><h6>Tue</h6></td>
        <td><h6>Wed</h6></td>
        <td><h6>Thu</h6></td>
        <td><h6>Fri</h6></td>
        <td><h6>Sat</h6></td>
        <td><h6>Sun</h6></td>
    </tr>
    <tr>
        <td>10h-12h</td>
    #{list items:0..6, as:'index'}
        <td><input type="checkbox" class="passValueToHiddenInputCheckBox" ${_preferredTime[index]?'checked':''}/>
            <input type="hidden" value="${_preferredTime[index]}" name="${_variableName}.preferredTime"/></td>
    #{/list}
    </tr>
    <tr>
        <td>13h-15h</td>
    #{list items:7..13, as:'index'}
        <td><input type="checkbox" class="passValueToHiddenInputCheckBox" ${_preferredTime[index]?'checked':''}/>
            <input type="hidden" value="${_preferredTime[index]}" name="${_variableName}.preferredTime"/></td>
    #{/list}
    </tr>
    <tr>
        <td>16h-18h</td>
    #{list items:14..20, as:'index'}
        <td><input type="checkbox" class="passValueToHiddenInputCheckBox" ${_preferredTime[index]?'checked':''}/>
            <input type="hidden" value="${_preferredTime[index]}" name="${_variableName}.preferredTime"/></td>
    #{/list}
    </tr>
    <tr>
        <td>19h-21h</td>
    #{list items:21..27, as:'index'}
        <td><input type="checkbox" class="passValueToHiddenInputCheckBox" ${_preferredTime[index]?'checked':''}/>
            <input type="hidden" value="${_preferredTime[index]}" name="${_variableName}.preferredTime"/></td>
    #{/list}
    </tr>
</table>