#{extends 'layouts/main/main.html' /}
#{set title:'Edit student information' /}

#{ifErrors}
<p class="alert alert-danger">Your inputs were not correct!</p>
#{/ifErrors}
<h2>Edit student information</h2>
#{if user.studentInformation.isPersistent()}
<h4>I'm looking for:</h4>
<!--Subject Tuition Fee and Group Size and Add button-->
    #{form @UserProfile.addCourseSearch(), role:'form', class:'form-horizontal'}
    <table class="table">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Desired group size</th>
            <th>Costs</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td #{ifError 'subjectId'}class="has-error"#{/ifError}>
                <select name="subjectId" class="form-control">
                    #{if flash.subjectId == null}
                        <option disabled selected>Subject</option>
                    #{/if}
                    #{list items:subjects, as:'subject'}
                        <option ${flash.subjectId == subject.id ? 'selected' : ''} value="${subject.id}">${subject.name}</option>
                    #{/list}
                </select>
                <span class="error text-danger help-block">#{error 'subjectId' /}</span>
            </td>
            <td #{ifError 'desiredGroupSize'}class="has-error"#{/ifError}>
                <input type="number" class="form-control" name="desiredGroupSize" placeholder="Max group size" #{if flash.desiredGroupSize != null}value="${flash.desiredGroupSize}"#{/if}>
                <span class="error text-danger help-block">#{error 'desiredGroupSize' /}</span>
            </td>
            <td #{ifError 'costId'}class="has-error"#{/ifError}>
                <select name="costId" class="form-control">
                    <option value="">Cost</option>
                    #{list items:costs, as:'cost'}
                        <option value="${cost.id}" #{if flash.costId == cost.id}selected#{/if}>${cost.name}</option>
                    #{/list}
                </select>
                <span class="error text-danger help-block">#{error 'costId' /}</span>
            </td>
            <td>
                <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </td>
        </tr>
            #{list items: user.studentInformation.courseSearches, as:'course'}
            <tr>
                <td>${course.subject.name}</td>
                <td>${course.desiredGroupSize}</td>
                <td>${course.cost.name}</td>
                <td class="text-right">
                    <a href="@{UserProfile.removeCourseSearch(course.id)}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
    #{/form}
#{/if}
#{form @UserProfile.updateStudentInfo(), role:'form', class:'form-horizontal'}
<h4>Other:</h4>

<div class="form-group #{ifError 'studentInformationFromBrowser.schoolTypeId'}has-error#{/ifError}">
    <label for="studentInformationFromBrowser.schoolTypeId" class="col-sm-4 control-label">School type</label>

    <div class="col-sm-8">
        <select name="studentInformationFromBrowser.schoolTypeId" id="studentInformationFromBrowser.schoolTypeId" class="form-control">
            #{if user.studentInformation.schoolType == null }
                <option value="" disabled selected>Select school type...</option>
            #{/if}
            #{list items:schoolTypes, as:'schoolType' }
                <option ${(user.studentInformation.schoolType?.id == schoolType.id) ? 'selected' : ''} value="${schoolType.id}">${schoolType.name}</option>
            #{/list}
        </select>
        <span class="error text-danger help-block">#{error 'studentInformationFromBrowser.schoolTypeId' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'studentInformationFromBrowser.classLevelId'}has-error#{/ifError}">
    <label for="studentInformationFromBrowser.classLevelId" class="col-sm-4 control-label">Class / Level</label>

    <div class="col-sm-8">
        <select name="studentInformationFromBrowser.classLevelId" id="studentInformationFromBrowser.classLevelId" class="form-control">
            #{if user.studentInformation.classLevel == null }
                <option value="" disabled selected>Select class / level...</option>
            #{/if}
            #{list items:classLevels, as:'classLevel' }
                <option ${(user.studentInformation.classLevel?.id == classLevel.id) ? 'selected' : ''} value="${classLevel.id}">${classLevel.name}</option>
            #{/list}
        </select>
        <span class="error text-danger help-block">#{error 'studentInformationFromBrowser.classLevelId' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'studentInformationFromBrowser.tutoringChannel'}has-error#{/ifError}">
    <label class="control-label col-sm-4">Preferred tutoring channel</label>

    <div class="col-sm-8">
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${(user.studentInformation.tutoringChannelOffline) ? 'checked' : ''}/>
            <input type="hidden" value="${user.studentInformation.tutoringChannelOffline}" name="studentInformationFromBrowser.tutoringChannelOffline"/>
            Offline</label>
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${(user.studentInformation.tutoringChannelOnline) ? 'checked' : ''}/>
            <input type="hidden" value="${user.studentInformation.tutoringChannelOnline}" name="studentInformationFromBrowser.tutoringChannelOnline"/>
            Online</label>
        <span class="error text-danger help-block">#{error 'studentInformationFromBrowser.tutoringChannel' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'studentInformationFromBrowser.tutoringPlace'}has-error#{/ifError}">
    <label class="control-label col-sm-4">Preferred tutoring place</label>

    <div class="col-sm-8">
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${(user.studentInformation.tutoringPlaceStudentHome) ? 'checked' : ''}/>
            <input type="hidden" value="${user.studentInformation.tutoringPlaceStudentHome}" name="studentInformationFromBrowser.tutoringPlaceStudentHome"/>
            Student's home</label>
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${(user.studentInformation.tutoringPlaceTutorHome) ? 'checked' : ''}/>
            <input type="hidden" value="${user.studentInformation.tutoringPlaceTutorHome}" name="studentInformationFromBrowser.tutoringPlaceTutorHome"/>
            Tutor's home</label>
        <span class="error text-danger help-block">#{error 'studentInformationFromBrowser.tutoringPlace' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'studentInformationFromBrowser.descriptionStudent'}has-error#{/ifError}">
    <label for="studentInformationFromBrowser.descriptionStudent" class="control-label col-sm-4">Description</label>

    <div class="col-sm-8">
        <textarea class="form-control" rows=4 name="studentInformationFromBrowser.descriptionStudent" id="studentInformationFromBrowser.descriptionStudent" placeholder="Description">${user.studentInformation.descriptionStudent}</textarea>
        <span class="error text-danger help-block">#{error 'studentInformationFromBrowser.descriptionStudent' /}</span>
    </div>
</div>

<p><h4>Preferred time:</h4></p>
<!--Preferred Time Table and Remove and select all links-->
    #{if user?.studentInformation?.preferredTime?.length == 28}
        #{preferredTimeEdit preferredTime:user.studentInformation.preferredTime, variableName:'studentInformationFromBrowser' /}
    #{/if}
    #{else}
        #{preferredTimeEdit preferredTime:new boolean[28], variableName:'studentInformationFromBrowser'/}
    #{/else}

<div class="form-group">
    <input type="submit" name="submit" class="btn btn-primary col-xs-4 col-xs-offset-2" value="Save">
    <a href="@{UserProfile.index()}" class="btn btn-link col-xs-4">Cancel</a>
</div>
#{/form}

#{if user.studentInformation.isPersistent()}
    #{form @UserProfile.deleteStudentInfo(), id:'delete-form', class:'form-horizontal'}
    <div class="form-group">
        <button type="submit" name="delete-form" class="btn btn-danger col-xs-8 col-xs-offset-2">
            <span class="glyphicon glyphicon-trash"></span> Delete your student information
        </button>
    </div>
    #{/form}
#{/if}

#{set 'moreScripts'}
<script src="@{'/public/js/confirmStudent.js'}"></script>
#{/set}
