#{extends 'layouts/main/main.html' /}
#{set title:'Edit tutor information' /}

#{ifErrors}
<p class="alert alert-danger">Your inputs were not correct!</p>
#{/ifErrors}
<h2>Edit tutor information</h2>


<!--Subject Tuition Fee and Group Size and Add button-->
#{if user.tutorInformation.isPersistent()}
<h4>I'm offering lectures in:</h4>
    #{form @UserProfile.addCourseOffer(), role:'form', class:'form-horizontal'}
    <table class="table">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Desired group size</th>
            <th>Costs</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td #{ifError 'subjectId'}class="has-error"#{/ifError}>
                <select name="subjectId" class="form-control">
                    #{if flash.subjectId == null}
                        <option disabled selected>Subject</option>
                    #{/if}
                    #{list items:subjects, as:'subject'}
                        <option ${flash.subjectId == subject.id ? 'selected' : ''} value="${subject.id}">${subject.name}</option>
                    #{/list}
                </select>
                <span class="error text-danger help-block">#{error 'subjectId' /}</span>
            </td>
            <td #{ifError 'desiredGroupSize'}class="has-error"#{/ifError}>
                <input type="number" class="form-control" name="desiredGroupSize" placeholder="Max group size" #{if flash.desiredGroupSize != null}value="${flash.desiredGroupSize}"#{/if}>
                <span class="error text-danger help-block">#{error 'desiredGroupSize' /}</span>
            </td>
            <td #{ifError 'costId'}class="has-error"#{/ifError}>
                <select name="costId" class="form-control">
                    <option value="">Cost</option>
                    #{list items:costs, as:'cost'}
                        <option value="${cost.id}" #{if flash.costId == cost.id}selected#{/if}>${cost.name}</option>
                    #{/list}
                </select>
                <span class="error text-danger help-block">#{error 'costId' /}</span>
            </td>
            <td>
                <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </td>
        </tr>
            #{list items: user.tutorInformation.courseOffers, as:'course'}
            <tr>
                <td>${course.subject.name}</td>
                <td>${course.desiredGroupSize}</td>
                <td>${course.cost.name}</td>
                <td class="text-right">
                    <a href="@{UserProfile.removeCourseOffer(course.id)}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
    #{/form}
#{/if}
#{form @UserProfile.updateTutorInfo(), role:'form', class:'form-horizontal'}
<h4>Other:</h4>

<div class="form-group #{ifError 'tutorInformationFromBrowser.qualificationId'}has-error#{/ifError}">
    <label for="tutorInformationFromBrowser.qualificationId" class="col-sm-4 control-label">Highest degree</label>

    <div class="col-sm-8">
        <select name="tutorInformationFromBrowser.qualificationId" id="tutorInformationFromBrowser.qualificationId" class="form-control">
            #{if user.tutorInformation.qualification == null }
                <option value="" disabled selected>Select qualification...</option>
            #{/if}
            #{list items:qualifications, as:'qualification' }
                <option ${(user.tutorInformation.qualification?.id == qualification.id) ? 'selected' : ''} value="${qualification.id}">${qualification.name}</option>
            #{/list}
        </select>
        <span class="error text-danger help-block">#{error 'tutorInformationFromBrowser.qualificationId' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'tutorInformationFromBrowser.tutoringExperienceId'}has-error#{/ifError}">
    <label for="tutorInformationFromBrowser.tutoringExperienceId" class="col-sm-4 control-label">Experience</label>

    <div class="col-sm-8">
        <select name="tutorInformationFromBrowser.tutoringExperienceId" id="tutorInformationFromBrowser.tutoringExperienceId" class="form-control">
            #{if user.tutorInformation.tutoringExperience == null }
                <option value="" disabled selected>Select tutoring experience...</option>
            #{/if}
            #{list items:tutoringExperiences, as:'tutoringExperience' }
                <option ${(user.tutorInformation.tutoringExperience?.id == tutoringExperience.id) ? 'selected' : ''} value="${tutoringExperience.id}">${tutoringExperience.name}</option>
            #{/list}
        </select>
        <span class="error text-danger help-block">#{error 'tutorInformationFromBrowser.tutoringExperienceId' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'tutorInformationFromBrowser.tutoringChannel'}has-error#{/ifError}">
    <label class="control-label col-sm-4">Preferred tutoring channel</label>

    <div class="col-sm-8">
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${user.tutorInformation.tutoringChannelOffline?'checked':''}/>
            <input type="hidden" value="${user.tutorInformation.tutoringChannelOffline}" name="tutorInformationFromBrowser.tutoringChannelOffline"/>
            Offline</label>
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${user.tutorInformation.tutoringChannelOnline?'checked':''}/>
            <input type="hidden" value="${user.tutorInformation.tutoringChannelOnline}" name="tutorInformationFromBrowser.tutoringChannelOnline"/>
            Online</label>
        <span class="error text-danger help-block">#{error 'tutorInformationFromBrowser.tutoringChannel' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'tutorInformationFromBrowser.tutoringPlace'}has-error#{/ifError}">
    <label class="control-label col-sm-4">Preferred tutoring place</label>

    <div class="col-sm-8">
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${user.tutorInformation.tutoringPlaceStudentHome?'checked':''}/>
            <input type="hidden" value="${user.tutorInformation.tutoringPlaceStudentHome}" name="tutorInformationFromBrowser.tutoringPlaceStudentHome"/>
            Student's home</label>
        <label class="checkbox-inline">
            <input type="checkbox" class="passValueToHiddenInputCheckBox" ${user.tutorInformation.tutoringPlaceTutorHome?'checked':''}/>
            <input type="hidden" value="${user.tutorInformation.tutoringPlaceTutorHome}" name="tutorInformationFromBrowser.tutoringPlaceTutorHome"/>
            Tutor's home</label>
        <span class="error text-danger help-block">#{error 'tutorInformationFromBrowser.tutoringPlace' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'tutorInformationFromBrowser.descriptionTutor'}has-error#{/ifError}">
    <label for="tutorInformationFromBrowser.descriptionTutor" class="control-label col-sm-4">Description</label>

    <div class="col-sm-8">
        <textarea class="form-control" rows=4 name="tutorInformationFromBrowser.descriptionTutor" id="tutorInformationFromBrowser.descriptionTutor" placeholder="Description">${user.tutorInformation.descriptionTutor}</textarea>
        <span class="error text-danger help-block">#{error 'tutorInformationFromBrowser.descriptionTutor' /}</span>
    </div>
</div>

<p><h4>Preferred time:</h4></p>
<!--Preferred Time Table and Remove and select all links-->
    #{if user?.tutorInformation?.preferredTime?.length == 28}
        #{preferredTimeEdit preferredTime:user.tutorInformation.preferredTime, variableName:'tutorInformationFromBrowser' /}
    #{/if}
    #{else}
        #{preferredTimeEdit preferredTime:new boolean[28], variableName:'tutorInformationFromBrowser'/}
    #{/else}

<div class="form-group">
    <input type="submit" name="submit" class="btn btn-primary col-xs-4 col-xs-offset-2" value="Save">
    <a href="@{UserProfile.index()}" class="btn btn-link col-xs-4">Cancel</a>
</div>
#{/form}

#{if user.tutorInformation.isPersistent()}
    #{form @UserProfile.deleteTutorInfo(), id:'delete-form', class:'form-horizontal'}
    <div class="form-group">
        <button type="submit" name="delete-form" class="btn btn-danger col-xs-8 col-xs-offset-2">
            <span class="glyphicon glyphicon-trash"></span> Delete your tutor information
        </button>
    </div>
    #{/form}
#{/if}

#{set 'moreScripts'}
<script src="@{'/public/js/confirmTutor.js'}"></script>
#{/set}
