#{extends 'layouts/main/main.html' /}
#{set title:'Edit user profile' /}

#{ifErrors}
<p class="alert alert-danger">Your inputs were not correct!</p>
#{/ifErrors}
<h2>Edit user profile</h2>

#{form @UserProfile.update(), role:'form', class:'form-horizontal'}
<!--
<input type="file" name="userFromBrowser.imageURL">
<input type="submit" name="submit" value="Upload">
-->
<div class="form-group #{ifError 'userFromBrowser.fullName'}has-error#{/ifError}">
    <label for="userFromBrowser.fullName" class="col-sm-3 control-label">Full name</label>

    <div class="col-sm-9">
        <input type="text" class="form-control" name="userFromBrowser.fullName" id="userFromBrowser.fullName" value="${user.fullName}" placeholder="Full name">
        <span class="error text-danger help-block">#{error 'userFromBrowser.fullName' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'userFromBrowser.genderCode'}has-error#{/ifError}">
    <label class="col-sm-3 control-label">Gender</label>

    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" name="userFromBrowser.genderCode" id="userFromBrowser.genderCode1" value="1" #{if (user.genderCode) == 1}checked#{/if}> Male</label>
        <label class="radio-inline"><input type="radio" name="userFromBrowser.genderCode" id="userFromBrowser.genderCode2" value="2" #{if (user.genderCode) == 2}checked#{/if}> Female</label>
        <span class="error text-danger help-block">#{error 'userFromBrowser.genderCode' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'userFromBrowser.dateOfBirth'}has-error#{/ifError}">
    <label for="userFromBrowser.dateOfBirth" class="col-sm-3 control-label">Date of birth</label>

    <div class="col-sm-9">
        <input type="text" class="form-control" name="userFromBrowser.dateOfBirth" id="userFromBrowser.dateOfBirth" value="${(user.dateOfBirth?.toLocalDate()).toString()}" placeholder="Date of birth">
        <span class="error text-danger help-block">#{error 'userFromBrowser.dateOfBirth' /}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Address</label>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-4">
                <div class="#{ifError 'userFromBrowser.postalCode'}has-error#{/ifError}">
                    <label for="userFromBrowser.postalCode" class="control-label">Postal code</label>
                    <input type="text" class="form-control" name="userFromBrowser.postalCode" id="userFromBrowser.postalCode" value="${user.postalCode}" placeholder="Postal code">
                    <span class="error text-danger help-block">#{error 'userFromBrowser.postalCode' /}</span>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="#{ifError 'userFromBrowser.cityId'}has-error#{/ifError}">
                    <label for="userFromBrowser.cityId" class="control-label">City</label>
                    <select name="userFromBrowser.cityId" id="userFromBrowser.cityId" class="form-control">
                        #{if user.city == null }
                            <option value="" disabled selected>Select city...</option>
                        #{/if}
                        #{list items:cities, as:'city' }
                            <option ${(user.city?.id == city.id) ? 'selected' : ''} value="${city.id}">${city.name}</option>
                        #{/list}
                    </select>
                    <span class="error text-danger help-block">#{error 'userFromBrowser.cityId' /}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="#{ifError 'userFromBrowser.address'}has-error#{/ifError}">
                    <label for="userFromBrowser.address" class="control-label">Street and house number</label>
                    <input type="text" class="form-control" name="userFromBrowser.address" id="userFromBrowser.address" value="${user.address}" placeholder="Street and house number">
                    <span class="error text-danger help-block">#{error 'userFromBrowser.address' /}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group #{ifError 'userFromBrowser.telephoneNumber'}has-error#{/ifError}">
    <label for="userFromBrowser.telephoneNumber" class="col-sm-3 control-label">Telephone</label>

    <div class="col-sm-9">
        <input type="text" class="form-control" name="userFromBrowser.telephoneNumber" id="userFromBrowser.telephoneNumber" value="${user.telephoneNumber}" placeholder="Telephone">
        <span class="error text-danger help-block">#{error 'userFromBrowser.telephoneNumber' /}</span>
    </div>
</div>

<div class="form-group #{ifError 'userFromBrowser.description'}has-error#{/ifError}">
    <label for="userFromBrowser.description" class="control-label col-sm-3">About me</label>

    <div class="col-sm-9">
        <textarea class="form-control" rows=4 name="userFromBrowser.description" id="userFromBrowser.description" placeholder="About me">${user.description}</textarea>
        <span class="error text-danger help-block">#{error 'userFromBrowser.description' /}</span>
    </div>
</div>

<div class="form-group">
    <div class="text-center">
        <input type="submit" name="submit" class="btn btn-primary col-xs-4 col-xs-offset-2" value="Save">
        <a href="@{UserProfile.index()}" class="btn btn-link col-xs-4">Cancel</a>
    </div>
</div>
#{/form}