#{extends 'layouts/main/main.html' /}
#{set title:'User profile' /}

#{if flash.success}
<p class="alert alert-success">${flash.success}</p>
#{/if}

<div class="user-profile panel panel-default">
    <div class="panel-body">
        <table class="table no-lines table-condensed">
            <tr>
                <th class="col-xs-3">
                    <img class="img-responsive" src="${user.imageURL?:'/public/images/user.png'}" alt="User profile bild">
                </th>
                <td style="vertical-align: middle; position: relative;">
                #{if loggedIn && loggedInUser.id == user.id}
                    <a href="@{UserProfile.edit()}" class="pull-right" style="position: absolute; top: 0; right: 0;"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                #{/if}

                    <h2>${user.fullName}</h2>

                    <p>${user.description}</p>
                </td>
            </tr>
            <tr>
                <th>Live in</th>
                <td>${user.postalCode} ${user.city.name}#{if loggedIn}, ${user.address}#{/if}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>${user.gender()}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>${user.age()}</td>
            </tr>
        #{if loggedIn}
            <tr>
                <th>Email</th>
                <td>${user.email}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>${user.telephoneNumber}</td>
            </tr>
        #{/if}


        </table>
    #{if loggedIn && loggedInUser.id == user.id}
        #{if !user.isStudent()}
            <p class="row">
                <a href="@{UserProfile.editStudentInfo()}" class="col-xs-8 col-xs-offset-2 btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Student information</a>
            </p>
        #{/if}
        #{if !user.isTutor()}
            <p class="row">
                <a href="@{UserProfile.editTutorInfo()}" class="col-xs-8 col-xs-offset-2 btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Tutor information</a>
            </p>
        #{/if}
    #{/if}
    #{if !loggedIn}
        <a href="@{UserAccount.searchLogin()}" class="pull-right">Login to see contact details</a>
    #{/if}

    </div>
</div>

#{if user.isStudent()}
<div class="studentinfo panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Student information</h4>
        #{if loggedIn && loggedInUser.id == user.id}
            <a href="@{UserProfile.editStudentInfo()}" class="pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" class="pull-right"><span class="glyphicon glyphicon-search"></span> Find tutors</a>
        #{/if}
    </div>
    <div class="panel-body">
        #{if user.studentInformation.courseSearches.isEmpty() }
            <h4>I am not looking for help at the moment.</h4><br>
        #{/if}
        #{else}
            <h4>I'm looking for help in:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Desired group size</th>
                    <th>Costs</th>
                </tr>
                </thead>
                <tbody>
                    #{list items: user.studentInformation.courseSearches, as:'course'}
                    <tr>
                        <td>${course.subject.name}</td>
                        <td>${course.desiredGroupSize}</td>
                        <td>${course.cost.name}</td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        #{/else}
        <h4>Further information:</h4>
        <table class="table no-lines table-condensed">
            <tr>
                <th class="col-xs-5">School type</th>
                <td>${user.studentInformation.schoolType.name}</td>
            </tr>
            <tr>
                <th>Class / level</th>
                <td>${user.studentInformation.classLevel.name}</td>
            </tr>
            <tr>
                <th>Preferred tutoring channel</th>
                <td>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'studentTutoringOffline', name:'studentTutoringOffline', value:user.studentInformation.tutoringChannelOffline, readonly:true/} Offline
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'studentTutoringOnline', name:'studentTutoringOnline', value:user.studentInformation.tutoringChannelOnline, readonly:true/} Online
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Preferred tutoring place</th>
                <td>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'studentTutoringStudentHome', name:'studentTutoringStudentHome', value:user.studentInformation.tutoringPlaceStudentHome, readonly:true/} Student's house
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'studentTutoringTutorHome', name:'studentTutoringTutorHome', value:user.studentInformation.tutoringPlaceTutorHome, readonly:true/} Tutor's house
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">${user.studentInformation.descriptionStudent}</td>
            </tr>
        </table>

        <h4>Preferred time: </h4>
        #{if user?.studentInformation?.preferredTime?.length == 28}
            #{preferredTimeView preferredTime:user.studentInformation.preferredTime /}
        #{/if}
        #{else}
            #{preferredTimeView preferredTime:new boolean[28]/}
        #{/else}
    </div>
</div>
#{/if}

#{if user.isTutor()}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Tutor information</h4>
        #{if loggedIn && loggedInUser.id == user.id}
            <a href="@{UserProfile.editTutorInfo()}" class="pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" class="pull-right"><span class="glyphicon glyphicon-search"></span> Find students</a>
        #{/if}
    </div>
    <div class="panel-body">
        #{if user.tutorInformation.courseOffers.isEmpty() }
            <h4>I'm giving no lectures at the moment.</h4><br>
        #{/if}
        #{else}
            <h4>I'm giving lectures in:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Desired group size</th>
                    <th>Costs</th>
                </tr>
                </thead>
                <tbody>
                    #{list items: user.tutorInformation.courseOffers, as:'course'}
                    <tr>
                        <td>${course.subject.name}</td>
                        <td>${course.desiredGroupSize}</td>
                        <td>${course.cost.name}</td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        #{/else}
        <h4>Further information:</h4>
        <table class="table no-lines table-condensed">
            <tr>
                <th class="col-xs-5">Highest graduation degree</th>
                <td>${user.tutorInformation.qualification.name}</td>
            </tr>
            <tr>
                <th>Tutoring experience</th>
                <td>${user.tutorInformation.tutoringExperience.name}</td>
            </tr>
            <tr>
                <th>Preferred tutoring channel</th>
                <td>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'tutorTutoringOffline', name:'tutorTutoringOffline', value:user.tutorInformation.tutoringChannelOffline, readonly:true/} Offline
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'tutorTutoringOnline', name:'tutorTutoringOnline', value:user.tutorInformation.tutoringChannelOnline, readonly:true/} Online
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Preferred tutoring place</th>
                <td>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'tutorTutoringStudentHome', name:'tutorTutoringStudentHome', value:user.tutorInformation.tutoringPlaceStudentHome, readonly:true/} Student's house
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            #{checkbox id:'tutorTutoringTutorHome', name:'tutorTutoringTutorHome', value:user.tutorInformation.tutoringPlaceTutorHome, readonly:true/} Tutor's house
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                ${user.tutorInformation.descriptionTutor}
                </td>
            </tr>
        </table>

        <h4>Preferred time: </h4>
        #{if user?.tutorInformation?.preferredTime?.length == 28}
            #{preferredTimeView preferredTime:user.tutorInformation.preferredTime /}
        #{/if}
        #{else}
            #{preferredTimeView preferredTime:new boolean[28]/}
        #{/else}
    </div>
</div>
#{/if}
