#{extends 'layouts/main/main.html' /}
#{set title:'Teachzone' /}

<div class="jumbotron">
    <h1>Welcome!</h1>

    <p>Teachzone is a Teaching Mediation Platform which helps tutors and
        students to offer and search for courses and other teaching services
        with great ease.</p>

#{ifnot loggedIn}
    <p>
        <a href="@{UserAccount.index}" class="btn btn-primary btn-lg">Login</a>
        or
        <a href="#">Create new account</a>
    </p>
#{/ifnot}
</div>